

{% extends 'base.html' %}

{% block content %}

    {%include 'snippets/nav.html'%}

    <h1>{{currentyear}}</h1>
    <h2>{{currentmonth}}</h2>

        <table class="cal_month_calendar">
          <tr>
            {% for day in headers %}
            <th>{{ day|date:"D"|slice:":3" }}</th>
              {% endfor %}
            </tr>
            {% for week in calendar %}
            <tr>
              {% for day in week %}
              <td{% if not day.in_month %} class="cal_not_in_month"{% endif %}>{% if day.booking %}<a href="/{{currentyear}}/{{currentmonth}}/{{ day.day|date:"j" }}/">{{ day.day|date:"j" }}</a>{% else %}{{ day.day|date:"j" }}{% endif %}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>


{% endblock %}
